
/* Written in LESS (http://lesscss.org/) */

@import "boilerplate.css";

/* ----------- */
/*    Fonts    */

@font-face {
  font-family:"Monaco";
  src:url('fonts/monaco.ttf');
  src:local('Monaco'), url('fonts/monaco.ttf') format('truetype');
}

/* ----------- */

body {
  min-width:1000px;
  background-color:white;
  width:80%;
  margin:auto;
}

section#top {
  width:100%;
  margin-top:35px;
  header {
    width:60%;
    font-family: "Monaco", "Arial";
    float:left;
    font-size:5em;
    span {
      display:block;
      font-size:0.4em;
      padding-left:150px;
      margin-top:5px;
    }
  }
  footer {
    float:right;
    padding-top:15px;
    text-align:left;
    width:40%;
    font-size:1.2em;
    font-family: Arial;
    #whoami {
      font-size:1.7em;
      font-family: "Monaco", "Arial";
      padding-bottom:15px;
    }
  }

  nav {
    width:100%;
    margin:20px 0px 30px 0px;
    a {
      font-weight:normal;
    }
    ul {
      padding:0;
      li {
        list-image:none;
        list-style-type:none;
        float:left;
        padding-right:15px;
        font-size:1.5em;
      }
    }
  }
}

section#down {
  footer {
    width:100%;
    margin-top:40px;
    font-size:0.9em;
    color:#666;
}
}
/* ----------- */
/*    Links    */

a {
  text-decoration:none;
  color:#4DB85F;
  font-weight:bold;
  &:hover {
    text-decoration:underline;
  }
  &:visited {
    color:#4DB85F;
  }
}

/* ----------- */

