<article>
  <header>
    <time><a href="#"><%= post.created_at.to_time %></a></time><span class="title"><a href="#"><%= post.title %></a></span>
  </header>
  <section class="article_text">
    <%= post.content %>
  </section>
  <footer></footer>
</article>

